@import "../styles";

.imagen {
    margin: auto;
    margin-top: 100px;
    height: 100px;
    border-radius: 43px;
    box-shadow: $shadow;
}

.cuerpo-centrado {
    text-align: center;
}

.link-item {
    box-shadow: $shadow;
    padding: 10px;
    margin: 15px 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    fa-icon {
        font-size: 60px;
        color: $red;
    }

    p {
        margin-bottom: 0px;
        color: black;
    }

    .item-left {
        width: 30%;
        display: inline-block;
    }

    .item-right {
        text-align: left ;
        width: 70%;
        display: inline-block;
    }
    &:hover {
        opacity: 0.4;
    }

}

.button-mode {
    position:absolute;
    top: 20px;
    right: 20px;
    border: 0px;
    border-radius: 25px;
    padding: 10px 30px;
    fa-icon {
        font-size: 20px;
    }
}

.dark{
    .head, .link-item p {
        color: white;
    }
    .link-item {
        background-color: black;
    }
    fa-icon {
        color:red;
    }
    &.container {
        background-color: black;
        background-image: url("../assets/imagenes/fondo-noche.jpg");
    }
}

.container {
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
}